.prbutton1{
  padding:10px;
  width: 100% !important;
  display: inline-block;
  margin: 3px;
  -webkit-border-radius: 50%;
    font-weight: 900;

}
.prbutton2{
  padding:10px;
  width: 100% !important;
  display: inline-block;
  margin: 3px;
  border-radius: 50%;
  font-weight: bold;
}

.prbutton3{
  padding:10px;
  width: 100% !important;
  display: inline-block;
  margin: 3px;
  border-radius: 50%;
  font-weight: bold;
}


